# Dépendances
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
coverage/

# Environnement
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE / éditeurs
.vscode/
.idea/
*.swp

# Build (si jamais utilisé)
dist/
build/

